{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "@typescript-eslint/semi": "off",
    "@typescript-eslint/no-explicit-any": "warn",
    "@typescript-eslint/explicit-module-boundary-types": "warn",

    "no-debugger": "error",
    "arrow-parens": "warn",
    "require-await": "warn",
    "eqeqeq": "warn",
    "no-await-in-loop": "warn",
    "no-const-assign": "error",
    "no-return-await": "warn",
    "prefer-const": "warn",
    "no-unneeded-ternary": "warn",
    "no-throw-literal": "warn",
    "semi": "off",
    "no-useless-escape": "off"
  }
}
